/* СТИЛЬ КОРАБЛЯ ПОЛЬЗОВАТЕЛЯ */
.user-box {
    width: 20%;
    height: 25%;
    background-image: url('../images/new_ship/1.png');
    /* background-color: red; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 11;
}